# Dependencies
/node_modules

# Testing
/coverage

# Production and Build artifacts
/build
/dist
/out
/release

# Platform-specific files (optional, as needed)
# macOS
.DS_Store
# OS generated temp files
.idea
.vscode
*.log*
.eslintcache