# Dependencies
/node_modules

# Testing
/coverage

# Production and Build artifacts
/dist
/out
/release
/electron-builder-cache
*.asar

# Cache and logs
.vite
.tsbuildinfo
.eslintcache
ts_web_errors.txt
*.log

# Platform-specific files (optional, as needed)
# macOS
.DS_Store
# OS generated temp files
.idea
.vscode
/.vscode
Thumbs.db
desktop.ini

# Environment and local config
.env
.env.*.local
.npmrc
dev-app-update.yml